body {font-family: 'Segoe UI', Helvetica, Arial, sans-serif;}
a {text-decoration: none;}
#topleft {
  font-size: 2.5vw;
  margin-left: 1vw;
  float: left;
}
#wiki {
  font-size: 2.5vw;
  margin-right: 2vw;
  float: right;
}
h1,h2 {
  font-size: 2.5vw;
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}
h1 a, h2 a {
  display: block;
}
.toc {
  font-family: consolas, menlo, monospace, sans-serif;
  display: grid;
  grid-auto-flow: column;
  margin-top: 0.5vw;
}
@media screen and (orientation: landscape) {
  .toc {
    font-size: 2.5vw;
  }
  .toc div a {
    height: 3vw;
    white-space: nowrap;
  }
}
@media screen and (orientation: portrait) {
  .toc {
    font-size: 3vw;
  }
  .toc div a {
    height: 3.5vw;
    white-space: nowrap;
  }
}
.toc div a,
.catagory_item div a {
  display: block;
  padding: 0.75vw 0.5vw;
  border: solid 1px;
}
.catagory_item {
  font-size: 2.5vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.multi_silhouette {
  background-color: lightgray;
}
.catagory {
  background-color: khaki;
}
figure {
  text-align: center;
  margin: 0vw;
} 
img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 90%;
  max-height: calc(100vh - 6vw)!important;
}
.items_count {
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  color: red;
}
ul {
  margin-top: 0vw;
}
.text {
  font-size: 2.5vw;
  margin-top: 1vw;
  margin-bottom: 2.5vw;
}
