body {font-family: 'Segoe UI', Helvetica, Arial, sans-serif;}
a {text-decoration: none;}
#topleft {
  font-size: 2rem;
  margin-left: 1rem;
  float: left;
}
#wiki {
  font-size: 2rem;
  margin-right: 1rem;
  float: right;
}
h1,h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom:0.25rem;
}
h1 a, h2 a {
  display: block;
}
.toc {
  font-family: consolas, menlo, monospace, sans-serif;
  display: grid;
  grid-auto-flow: column;
  margin-top: 0.5rem;
}
@media screen and (orientation: landscape) {
  .toc {
    font-size: 1.25rem;
  }
}
@media screen and (orientation: portrait) {
  .toc {
    font-size: 2rem;
  }
}
.toc div a,
.catagory_item div a {
  display: block;
  padding: 0.3rem;
  border: solid 1px;
}
.catagory_item {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.multi_silhouette {
  background-color: lightgray;
}
.catagory {
  background-color: khaki;
}
figure {
  text-align: center;
  margin: 0rem;
} 
img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 90%;
  max-height: calc(100vh - 4rem)!important;
}
.items_count {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: red;
}
ul {
  margin-top: 0rem;
}
